<div *ngIf="!registerMode" style="text-align:center">
<!-- <div style="text-align:center"> -->
  <h1>Find your matches</h1>
  <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
  <div *ngIf="!loggedIn()" class="text-center">
    <button class="btn btn-primary btn-lg" (click)="registerToggle()">Register</button>
    <button class="btn btn-info btn-lg">Learn More</button>
  </div>
</div>

<div *ngIf="registerMode" class="container">
  <div class="col-md-4 col-md-offset-4">
    <app-Register (cancelRegister)="cancelRegisterMode($event)"></app-Register>
    <!-- <app-Register [valuesFromHome]="values" (cancelRegister)="cancelRegisterMode($event)"></app-Register> -->
  </div>
</div>

<!-- <div class="text-center">
  <h1>Find your match</h1>
  <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
  <div class="text-center">
    <button class="btn btn-primary btn-lg">Register</button>
    <button class="btn btn-info btn-lg">Learn More</button>
  </div>
</div> -->